.mejs-controls { bottom: -30px !important; }
.mejs-captions-position-hover { bottom: 15px !important; }
.mejs-captions-layer { font-size: 14px !important; }
.video-transcript-link { margin-top: 30px; display: inline-block; }